.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	padding: 12px 0;
	width: 100%;
	color: #fff;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	gap: 0.5rem;
}

.button:hover {
	background-color: var(--color-primary-hover);
}

