.field {
	position: relative;
}

.field input {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 384px;
	height: 48px;
	color: var(--color-grey);
	
	padding-left: 50px;
	border-radius: var(--border-radius);
	border: var(--border);
}

.field input:focus {
	outline: none;
}

.field label {
	color: var(--color-slate);
	pointer-events: none;

}
