body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	font-family: 'Inter', sans-serif;
	background-color: var(--color-grey-bg);
}

input,
label,
button {
	transition-duration: var(--transition-duration);
}

:focus-visible {
	outline: 2px dashed var();
	outline-offset: 4px;
	transition-duration: 0s !important;
}
